.formContainer {
  max-width: 700px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the form horizontally within its parent container */
  padding: 20px; /* Optional: Add some padding around the form */
  background-color: #ffffff; /* Optional: Set background if needed */
  border-radius: 8px; /* Optional: Match Antd component rounding */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09); /* Optional: Add subtle shadow */
}

/* Add media queries if you need different max-widths for different screen sizes */
@media (max-width: 600px) {
  .formContainer {
    max-width: 100%;
    padding: 15px;
    box-shadow: none;
  }
}

.formSubmitBtnContainer {
  margin-top: 12px;
}
